.container{
    margin: 80px;
    background-color: lightsteelblue;
}
#Box1, #Box2, #Box3, #Box4, #Box5, #Box6, #Box7, #Box8, #Box9, #Box10, #Box11, #Box12, #Box13, #Box14, #Box15, #Box16 {
    background-color: cornflowerblue;
    text-align-last: center;
    padding: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Box1, #Box2, #Box3, #Box4{
    margin-top: 10px;
}
#level{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
